
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!--Payment Progress -->
<div class="checkout-page-title page-title">
	<div class="page-title-inner flex-row medium-flex-wrap container">
	  <div class="flex-col flex-grow medium-text-center">
  	 	 <nav class="breadcrumbs heading-font checkout-breadcrumbs text-center h2 strong">
    	   <a href="/shoppingcarts" class="cart-greyout">Shopping Cart</a>
    	   <span class="divider hide-for-small"><i class="icon-angle-right"></i></span>
    	   <a href="/shoppingcarts/checkout" class="current">Checkout</a>
    	   <span class="divider hide-for-small"><i class="icon-angle-right"></i></span>
    	   <a href="/shoppingcarts/confirmation" class="cart-greyout">Order Confirmation</a>
		 </nav>
	  </div><!-- .flex-left -->
	</div><!-- flex-row -->
</div>


<div class="container mb-4">

<h2>Contact Details</h2>

<%= form_with scope: :delivery, url: set_delivery_details_path, local: true do |form| %>

<div class="container">
	<div class="row">
		<div class="col-3">
  		Name:<br>
  		<%= form.text_field :name, class: "form-control", value: session["delivery_details"]["name"] %>
		</div>
		<div class="col-3">
  		Email:<br>
  		<%= form.email_field :email, class: "form-control", value: session["delivery_details"]["email"] %>
		</div>
		<div class="col-3">
  		Contact Number:<br>
  		<%= form.number_field :contact_number, class: "form-control", value: session["delivery_details"]["contact_number"] %>
		</div>
	</div>
<br>
	<div class="row">
		<div class="col-9">
  		Add Comments About Your Order:<br>
  		<%= form.text_area :comment, class: "form-control", rows: "3", value: session["delivery_details"]["comment"] %>
		</div>
	</div>

</div>


<hr/>
<h2>Delivery Details</h2>

<div class="container">
	<div class="row">
		<div class="col-4">
  		Postal Code:<br>
  		<%= form.number_field :postal_code, class: "form-control", value: session["delivery_details"]["postal_code"] %>
		</div>

		<div class="col-4">
			Unit Number:<br>
			<%= form.text_field :unit_number, class: "form-control", value: session["delivery_details"]["unit_number"] %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-8">
			Address:<br>
			<%= form.text_field :address, class: "form-control", value: session["delivery_details"]["address"] %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-4">
			Delivery Date:<br>
			<%= form.date_field :date, class: "form-control" , value: session["delivery_details"]["date"] %>
		</div>

		<div class="col-4">
			Delivery Time:<br>

			<%= form.select :time, options_for_select([ "10.00am - 12.00pm", "11.00am - 1.00pm", "3.00pm - 5.00pm", "5.00pm - 7.00pm"], session["delivery_details"]["time"]), {}, { :class => 'form-control' }  %>
		</div>
	</div>

</div>

<br>

<div class="col mb-2">
    <div class="row">
        <div class="col-sm-8 col-md-4">
        	<a href="/shoppingcarts" class='btn btn-block btn-outline-primary'>Back to Shopping Cart</a>
        </div>

        <div class="col-sm-8 col-md-4 text-right">
        	<%= form.submit 'Next', class: "btn btn-success btn-block"%>
        </div>
    </div>
</div>




<%end%>

</div>