<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!--Payment Progress -->
<div class="checkout-page-title page-title">
	<div class="page-title-inner flex-row medium-flex-wrap container">
	  <div class="flex-col flex-grow medium-text-center">
  	 	 <nav class="breadcrumbs heading-font checkout-breadcrumbs text-center h2 strong">
    	   <a href="/shoppingcarts" class="cart-greyout	">Shopping Cart</a>
    	   <span class="divider hide-for-small"><i class="icon-angle-right"></i></span>
    	   <a href="/shoppingcarts/checkout" class="cart-greyout">Checkout</a>
    	   <span class="divider hide-for-small"><i class="icon-angle-right"></i></span>
    	   <a href="/shoppingcarts/confirmation" class="current">Order Confirmation</a>
		 </nav>
	  </div><!-- .flex-left -->
	</div><!-- flex-row -->
</div>


<div class="container mb-4">
	<h2>Deliver To:</h2>

	<div class="container">
		<div class="row">
			<div>
	  		<%= session["delivery_details"]["name"]%>
			</div>

		</div>

		<div class="row">
			<div>
	  		<%= session["delivery_details"]["contact_number"]%>
			</div>
		</div>

		<div class="row">
			<div>
	  		<%= session["delivery_details"]["email"]%>
			</div>
		</div>

		<div class="row">
			<div class="capitalize">
				#<%= session["delivery_details"]["unit_number"] %>, <%=session["delivery_details"]["address"]%>
			</div>
		</div>

		<br>

		<div class="row">
			<div>
				<b>Delivery Date:</b> <%= Date.parse(session["delivery_details"]["date"]).strftime('%d %b %Y') %> from <%= session["delivery_details"]["time"] %>
			</div>
		</div>

		<div class="row">
			<div>
	  		<b>Comment:</b> <%= session["delivery_details"]["comment"]%>
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="table-responsive">
	    <table class="table table-striped">
	        <thead>
	            <tr>
	                <th scope="col"></th>
	                <th scope="col">Item</th>
	                <th scope="col">Price per kg</th>
	                <th scope="col">Weight</th>
	                <th scope="col" class="text-right">Total Price</th>
	            </tr>
	        </thead>
	        <tbody>
	        		<% session["cart"].each do |item| %>
	          		<tr>
	                  <td class="cart-image-column">
	                  	<%= image_tag(item["image_url"], :class => "cart-image") %>
	                  </td>

	                  <td>
	                  	<%= item["name"] %>
	                  </td>

	                  <td>
	                  	<%= "$" + (item["price_per_kg"].to_i/100).to_s %>/kg
	                  </td>

	                  <td>
	                  	<div class="form-row">
												<div class="col-md-3">
													<%= item["weight"] + "kg" %>
												</div>
											</div>
	                  </td>

	                  <td class="text-right">
	                  	<%= "$" + ((item["price_per_kg"].to_i * item["weight"].to_i)/100).to_s %>
	                  </td>

	              </tr>
	        		<% end %>

	            <tr>
	                <td></td>
	                <td></td>
	                <td></td>
	                <td><strong>Total</strong></td>
	                <td class="text-right"><strong><%= "$" + (@payment_amount/100).to_s %></strong></td>
	            </tr>

	        </tbody>
	    </table>
	</div>


	<div class="col mb-2">
	    <div class="row">
	        <div class="col-sm-12 col-md-6">
	        		<a href="/shoppingcarts/checkout" class='btn btn-block btn-outline-primary'>Back to Checkout</a>
	        </div>
	        <div class="col-sm-12 col-md-6 text-right">
	        		<button type='button' class='btn btn-primary btn-block btn-success' id='payment'>Confirm Order</button>
	        </div>
	    </div>
	</div>

</div>