<section class="jumbotron text-center">
<div class="container">
<h1 class="jumbotron-heading">Order Confirmation & Payment</h1>
</div>
</section>

<h2>Order Details</h2>

<div class="container">
	<div class="row">
		<div class="col-3">
  		Name: <%= session["delivery_details"]["name"]%>
		</div>
		<div class="col-3">
  		Email: <%= session["delivery_details"]["email"]%>
		</div>
		<div class="col-3">
  		Contact Number: <%= session["delivery_details"]["contact_number"]%>
		</div>
	</div>

	<div class="row">
		<div class="col-9">
  		Comments: <%= session["delivery_details"]["comment"]%>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
  		Postal Code: <%= session["delivery_details"]["postal_code"]%>
		</div>

		<div class="col-4">
			Unit Number: <%= session["delivery_details"]["unit_number"]%>
		</div>
	</div>

	<div class="row">
		<div class="col-8">
			Address: <%= session["delivery_details"]["address"]%>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			Delivery Date: <%= session["delivery_details"]["date"]%>
		</div>

		<div class="col-4">
			Delivery Time: <%= session["delivery_details"]["time"] %>
		</div>
	</div>
</div>




<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Item</th>
                        <th scope="col">Price per kg</th>
                        <th scope="col" class="text-center">Weight</th>
                        <th scope="col" class="text-right">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                		<% session["cart"].each do |item| %>
                  		<tr>
                          <td>
                          	<%= image_tag(item["image_url"]) %>
                          </td>

                          <td>
                          	<%= item["name"] %>
                          </td>

                          <td>
                          	<%= "$" + (item["price_per_kg"].to_i/100).to_s %>/kg
                          </td>

                          <td>
                          	<div class="form-row">
															<div class="col-md-3">
																<%= item["weight"] + "kg" %>
															</div>
														</div>
                          </td>

                          <td class="text-right">
                          	<%= "$" + ((item["price_per_kg"].to_i * item["weight"].to_i)/100).to_s %>
                          </td>

                      </tr>
                		<% end %>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td class="text-right"><strong><%= "$" + (@payment_amount/100).to_s %></strong></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="/shoppingcarts/checkout" class='btn btn-info'>Back to Checkout</a>
<button type='button' class='btn btn-primary' id='payment'>Confirm Order</button>