<h1>Shopping Cart</h1><br/>

<!-- Shopping Cart Orders -->

<table class="table table-striped">
	<thead>
	  <tr>
	  	<th scope="col">S/N</th>
	    <th scope="col">Name</th>
	    <th scope="col">Price Per Kg</th>
	    <th scope="col">Weight</th>
	    <th scope="col">Total Price</th>
	    <th scope="col">Actions</th>
	  </tr>
	</thead>

	<tbody>
    <% @shopping_cart_items.each_with_index do |item, index| %>
      <tr>
      	<td>
        	<%= index + 1 %>
        </td>
        <td>
        	<%= item["name"] %>
        </td>

        <td>
        	<%= "$" + (item["price_per_kg"].to_i/100).to_s %>
        </td>

     		<td>
						<div class="form-row">
								<div class="col-md-3">
								<%= form_with scope: :durian, url: shoppingcarts_plus_path, local: true do |form| %>

  							<%= form.hidden_field :id, :value => item["id"] %>

  							<%= form.submit '+', class: "btn btn-success"%>
  							<% end %>
								</div>

						<div class="col-md-3">
							<%= item["weight"] + "kg" %>
						</div>

						<div class="col-md-3">
  					<%= form_with scope: :durian, url: shoppingcarts_minus_path, local: true do |form| %>

  					<%= form.hidden_field :id, :value => item["id"] %>

  					<%= form.submit '-', class: "btn btn-danger"%>
  					<% end %>
						</div>
				</div>
    	</td>


        <td>
					<%= "$" + ((item["price_per_kg"].to_i * item["weight"].to_i)/100).to_s %>
				</td>


			<td>
					<%= form_with scope: :durian, url: shoppingcarts_delete_path, local: true do |form| %>

  					<%= form.hidden_field :id, :value => item["id"] %>
						<%= form.submit 'Delete', class: "btn btn-warning"%>
					<% end %>
     </td>

      </tr>
		<% end %>
	</tbody>
</table>


<!-- Payment section -->
<h1>Total Payment Amount: <%= "$" + (@payment_amount/100).to_s %></h1>
<button type='button' class='btn btn-primary payment'>Payment</button>