<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Shopping Cart</h1>
     </div>
</section>

<% if session["cart"].length === 0 %>
	<h2>You have a empty shopping cart</h1>
<% else %>
	<div class="container mb-4">
	    <div class="row">
	        <div class="col-12">
	            <div class="table-responsive">
	                <table class="table table-striped">
	                    <thead>
	                        <tr>
	                            <th scope="col"></th>
	                            <th scope="col">Item</th>
	                            <th scope="col">Price per kg</th>
	                            <th scope="col" class="text-center">Weight</th>
	                            <th scope="col" class="text-right">Total Price</th>
	                            <th> </th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                    		<% session["cart"].each do |item| %>
		                    		<tr>
		                            <td>
		                            	<%= image_tag(item["image_url"]) %>
		                            </td>

		                            <td>
		                            	<%= item["name"] %>
		                            </td>

		                            <td>
		                            	<%= "$" + (item["price_per_kg"].to_i/100).to_s %>/kg
		                            </td>

		                            <td>
		                            	<div class="form-row">
																		<div class="col-md-3">
																		<%= form_with scope: :durian, url: shoppingcarts_plus_path, class: "plus-btn", local: true do |form| %>
																			<%= form.hidden_field :id, :value => item["id"] %>
																			<%= form.submit '+', class: "btn btn-success", data: { disable_with: false } %>
																		<% end %>
																		</div>
																		&nbsp;&nbsp;&nbsp;
																		<div class="col-md-3" id='<%= item["id"] %>-weight'>
																			<%= item["weight"] + "kg" %>
																		</div>&nbsp;&nbsp;

																		<div class="col-md-3">
												  					<%= form_with scope: :durian, url: shoppingcarts_minus_path, class: "minus-btn", local: true do |form| %>
													  					<%= form.hidden_field :id, :value => item["id"] %>
													  					<%= form.submit '-', class: "btn btn-danger", data: { disable_with: false }%>
												  					<% end %>
																		</div>
																	</div>
		                            </td>

		                            <td class="text-right" id='<%= item["id"] %>-total-price'>
		                            	<%= "$" + ((item["price_per_kg"].to_i * item["weight"].to_i)/100).to_s %>
		                            </td>

		                            <td class="text-right">
		                            	<%= form_with scope: :durian, url: shoppingcarts_delete_path, class: "remove-btn", local: true do |form| %>
																		<%= form.hidden_field :id, :value => item["id"] %>
																		<%= form.submit 'Remove', class: "btn btn-warning"%>
																	<% end %>
																</td>
		                        </tr>
	                    		<% end %>

	                        <tr>
	                            <td></td>
	                            <td></td>
	                            <td></td>
	                            <td></td>
	                            <td><strong>Total</strong></td>
	                            <td class="text-right"><strong id="payment_amount"><%= "$" + (@payment_amount/100).to_s %></strong></td>
	                        </tr>

	                    </tbody>
	                </table>
	            </div>
	        </div>

	        <div class="col mb-2">
	            <div class="row">
	                <div class="col-sm-12  col-md-6">
	                    <a href="/" class="btn btn-lg btn-block btn-primary">Continue Shopping</a>
	                </div>
	                <div class="col-sm-12 col-md-6 text-right">
	                    <a href="/shoppingcarts/checkout" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<% end %>