<!-- Start: age Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">

    	<!-- Start: Hero Banner -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="carouselImage" src="assets/hero/banner1.jpg" alt="First slide">
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
      <!-- End: Hero Banner -->

      <div class="row">

      	<% @durians.each do |durian| %>
	      	<div class="col-lg-4 col-md-6 mb-4">
	          <div class="card h-100">
	          	<%= image_tag(durian.image_url) %>
	            <div class="card-body">
	              <h4 class="card-title">
	                <%= durian.name %>
	              </h4>
	              <h5><%= "$" + (durian.price_per_kg/100).to_s %>/kg</h5>
	              <p class="card-text"><%= durian.description %></p>
	            </div>
	              <div class="addCartButton">
	                <div class="float-right">
	                	<%= form_with scope: :durian, url: shoppingcarts_add_path, class: "durian-form", local: true do |form| %>
										<%= form.hidden_field :id, :value => durian.id %>
										<%= form.hidden_field :name, :value => durian.name %>
										<%= form.hidden_field :image_url, :value => durian.image_url %>
								    <%= form.hidden_field :price_per_kg, :value => durian.price_per_kg %>
								    <%= form.hidden_field :weight, :value => 1 %>
								    <%= form.submit 'Add to cart', class: "btn btn-success btn-sm", data: { disable_with: false } %>
								<% end %>
	                </div>
	              </div>
	            <div class="card-footer">
	              <small class="text-muted">Sweetness &#9733; &#9733; &#9733; &#9733; &#9734;</small>
	              <br>
	              <small class="text-muted">Creaminess &#9733; &#9733; &#9733; &#9734; &#9734;</small>
	            </div>
	          </div>
	        </div>
	      <% end %>

			<br>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- End: Page Content -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>