<html class="js no-ie8compat svg csspositionsticky inlinesvg svgclippaths no-ie8compat svg csspositionsticky inlinesvg svgclippaths" lang="en"><head>

  </head>

  <body style="">
    
    <link rel="stylesheet" media="all" href="/assets/application.self-847fe8df19faec2a3505a62a32fab9a686b7187e96b8f1ac47e2cccca2147cd8.css?body=1">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# Social Media Logos & Font %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:900,900italic,700,700italic,400,400italic,300,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    
<%# END OF SCRIPTS %>


















<div class= 'container-fluid'>

<%# NAV BAR %>
  <div class='row align-items-start'>
    <div class='fixed-top'>

            <%# LOGO PLACEMENT %>
            <div class='top-row col-lg-6'>
              <div class='float-left'>
                <a class="logo" href="localhost:3000">
                  <p>LOGO</p>
                </a>
              </div>
            </div>
            <%# END OF LOGO PLACEMENT %>






          <%# MOBILE NAV BUTTON %>
          <section id="hamburger-container" class="hammy">
            <div class="hamburger">
              <div class="hamburger-box">
                <div class="hamburger-inner">
                </div>
              </div>
            </div>
          </section>
          <%# END OF MOBILE NAV BUTTON %>




          <div class='top-row col-lg-6'>
            <div class='float-right'>
              <div class='span-4'>
                  <%# Home %>
                    <a href="/" data-text="Home">Home</a>

                  <%# Register %>
                    <a href="/register" data-text="Register">Register</a>

                  <%# Login %>
                    <a href="/login" data-text="Login">Login</a>

                  <%# Checkout %>
                  <a href="/checkout"
                     class="Button u-small u-pink l-as-cen l-d-n l-gs-ph1 l-gs-mh1 f-smaller f-small--3col">
                     Checkout
                  </a>
              </div>
            </div>
          </div>

    </div>
  </div>
<%# END OF NAV BAR %>



















<%# MOBILE NAV BAR %>
      <div class="NavBar_offsetSpacer"></div>
      <script>
        
        /* Toggle mobile navigation */
        var toggleMobileNav = function(event) {
          var target = event.target;
          if(target.className.includes("hamburger")) {
            document.getElementById("hamburger-container").classList.toggle("open");
          }
        }
        var isTouchSupported = 'ontouchstart' in window;
        var startEvent = isTouchSupported ? 'touchstart' : 'click';
        document.addEventListener(startEvent, toggleMobileNav);

        /* Set active navigation item  */
        var current_url = window.location.href;
        if (current_url.indexOf("/blog") > -1) {
          document.getElementById("nav-blog").classList.add("youarehere");
        }  
      </script>
          </header>

  <style>
  .t-bg-purple-500 {
    background-color: #965fc0;
  }
  .l-mxw-100 {
    max-width: 100%;
  }
</style>

<div class="row flash-messages"></div>
<%# END OF MOBILE NAV BAR %>



















<%# SWEE CHIN %>
<h1>Durian Listing</h1>

<table class="table table-striped">
	<thead>
	  <tr>
	  	<th scope="col">S/N</th>
	    <th scope="col">Name</th>
	    <th scope="col">Price Per Kg</th>
	  </tr>
	</thead>

	<tbody>
    <% @durians.each_with_index do |durian, index| %>
      <tr>
      	<td>
        	<%= index + 1 %>
        </td>
        <td>
        	<%= durian.name %>
        </td>

        <td>
        	<%= "$" + durian.price_per_kg.to_s %>
        </td>

      </tr>
    <% end %>

	</tbody>
</table>

<br/>
<%= link_to 'Add new durian', new_durian_path, class: 'btn btn-primary' %>
<%= link_to 'Notification', orders_notification_path, class: 'btn btn-primary' %>
<%= link_to 'Postal Code', orders_postal_code_path, class: 'btn btn-primary' %>

<br/>
<br/>

<% if user_signed_in? == true %>
	<h1>Welcome - <%= current_user.email %></h1>
	<br/>
	<%= link_to 'Log Out', destroy_user_session_url, method: :delete, class: 'btn btn-danger' %>
<% else %>
	<h1>User</h1>
	<%= link_to 'Log In', new_user_session_url, class: 'btn btn-secondary'%>
<% end %>
<%# END OF SWEE CHIN %>



















<%# FOOTER %>
<footer role="contentinfo">
  <div class="l-w-100 l-d-f Footer-bg">
    <div class="l-d-f l-fw-w l-mh-auto">
      <div class="l-d-f l-fw-w l-mt4 l-w-100 l-pa3 l-w-3col--4col l-jc-sb l-jc-sa--4col">
        <ul>
          <li class="t-ls-n">
            <div class="f-c-white f-large f-bold l-mb2">Outlets</div>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="/LINK_NORTH/">North</a>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="/LINK_SOUTH/">South</a>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="LINK_EAST">East</a>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="LINK_WEST">West</a>
          </li>
          
        </ul>

        <ul>
          <li class="t-ls-n">
            <div class="f-c-white f-large f-bold l-mb2">About</div>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="/story/">Our Story</a>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="/job/">Job Opportunities</a>
          </li>
        </ul>

        <ul>
          <li class="t-ls-n">
            <div class="f-c-white f-large f-bold l-mb2">Contact</div>
          </li>
          <li class="l-ml3 f-c-grey-300 l-mb2">
            <a class="Footer-link f-small" href="/contact-us/">Contact Us</a>
          </li>
          
        </ul>


      </div>
      <div class="l-d-n l-d-b--4col l-as-cen Footer-hr">
      </div>
      <div class="l-mt4 l-pa3 l-w-1col--4col">
        <ul class="t-ls-n l-d-f l-fw-w l-d-b--3col">
          <li>
            <div class="f-c-white f-large f-bold l-mb2 l-mr3">Connect</div>
          </li>
          <li class="f-left">
            <a class="f-c-grey-300" href="https://www.facebook.com/durian" rel="noopener" target="_blank">
              <i class="fab fa-facebook-square l-i4"></i>
            </a>
            <a class="l-pl3 f-c-grey-300" href="http://twitter.com/durian" rel="noopener" target="_blank">
              <i class="fab fa-twitter-square l-i4"></i>
            </a>
            <a class="l-pl3 f-c-grey-300" href="http://instagram.com/durian" rel="noopener" target="_blank">
              <i class="fab fa-instagram l-i4"></i>
            </a>
          </li>
          
          <p class="f-c-grey-300 l-mh-auto l-ml3--2col l-ml0--3col l-mv3--4col f-small f-center">
            © 2019 Project 3 is Durians
          </p>
        </ul>
      </div>
    </div>
  </div>
</footer>
<%# END OF FOOTER %>



</div></body></html>