<h1>Show Durian</h1>

<%= form_with scope: :durian, url: shoppingcarts_add_path, local: true do |form| %>

<p>

		<%= form.hidden_field :id, :value => @durian.id %>
  </p>

  <p>
    <%= form.label :name, 'Durian Name' %><br>
		<%= @durian.name %>


		<%= form.hidden_field :name, :value => @durian.name %>
  </p>

  <p>
    <%= form.label :price_per_kg, 'Price Per Kg' %><br>
    <%= @durian.price_per_kg %>

    <%= form.hidden_field :price_per_kg, :value => @durian.price_per_kg %>
  </p>

	<p>
    <%= form.label :weight, 'Weight' %><br>
    <%= form.number_field :weight %>
  </p>

  <p>
    <%= form.submit 'Add to cart', class: "btn btn-success"%>
  </p>
<% end %>

<br/>
<%= link_to 'Edit', edit_durian_path(@durian), class: 'btn btn-primary' %>

<%= link_to 'Back', root_path, class: 'btn btn-primary' %>

<a class='btn btn-warning' href='/shoppingcarts'>
<%= session["cart"].length %>
<%= image_tag("https://img.icons8.com/material-outlined/24/000000/shopping-cart.png") %>
</a>