<!DOCTYPE html>
<html>
  <head>
    <title>The Durian Connoisseurs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

		<script src="https://js.stripe.com/v3/"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  </head>

  <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <!-- Logo -->
     <svg height="35pt" viewBox="-28 0 504 504.288" width="35pt" xmlns="http://www.w3.org/2000/svg"><path d="m240.433594 96h-32c0-35.296875-28.707032-64-64-64h-16v-32h16c52.925781 0 96 43.054688 96 96zm0 0" fill="#9b7a5a"/><path d="m64.433594 0h32v32h-32zm0 0" fill="#89674c"/><path d="m224.433594 504.289062-30.097656-34.367187-39.246094 23.453125-17.96875-42.03125-44.578125 10.113281-4.0625-45.503906-45.519531-4.097656 10.128906-44.558594-42.066406-17.953125 23.472656-39.246094-34.351563-30.097656 34.351563-30.097656-23.441406-39.246094 42.035156-17.96875-10.113282-44.558594 45.503907-4.082031 4.078125-45.519531 44.578125 10.128906 17.953125-42.0625 42.847656 25.644531 26.496094-14.476562 26.476562 14.476562 42.867188-25.613281 17.964844 42.03125 44.5625-10.113281 4.078124 45.503906 45.503907 4.097656-10.109375 44.558594 42.046875 17.953125-23.472657 39.246094 34.351563 30.097656-34.351563 30.097656 23.457032 39.246094-42.03125 17.96875 10.09375 44.558594-45.488282 4.082031-4.09375 45.519531-44.5625-10.128906-17.949218 42.0625-39.265625-23.484375zm0 0" fill="#9ccc65"/><g fill="#7cb342"><path d="m176.433594 278.625-59.3125-59.3125 22.621094-22.625 36.691406 36.6875 36.6875-36.6875 22.621094 22.625zm0 0"/><path d="m288.433594 374.625-59.3125-59.3125 22.621094-22.625 36.691406 36.6875 36.6875-36.6875 22.621094 22.625zm0 0"/><path d="m360.382812 383.953125-4.09375 45.519531-44.5625-10.128906-17.949218 42.0625-39.265625-23.484375-30.078125 34.367187-30.097656-34.367187-39.246094 23.453125-17.96875-42.03125-44.578125 10.113281-4.0625-45.503906-38.402344-3.457031-7.117187 31.359375 45.519531 4.097656 4.0625 45.503906 44.578125-10.113281 17.96875 42.03125 39.246094-23.453125 30.097656 34.367187 30.078125-34.367187 39.265625 23.484375 17.949218-42.0625 44.5625 10.128906 4.09375-45.519531 45.488282-4.082031-7.101563-31.359375zm0 0"/></g><path d="m320.433594 160h32v32h-32zm0 0" fill="#fff"/><path d="m272.433594 224h32v32h-32zm0 0" fill="#fff"/><path d="m64.433594 272h32v32h-32zm0 0" fill="#fff"/></svg>
     <!-- Title -->
     <a class="navbar-brand" href="/">The Durian Connoisseurs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Nav buttons -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item active">
            <button type = "button" class="btn btn-danger" href="#">Checkout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
                                                
    <%= yield %>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2019 The Durian Connoisseurs</p>
    </div>
    <!-- /.container -->
  </footer>
  </body>
</html>
